h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
}

h2 {
    text-align: left;
    margin-left: 30px;
    font-size: 40px;
    color: teal;
    text-transform: capitalize;
}

h3 {
    color: saddlebrown;
    margin-left: 70px;
    font-size: 30px;
    font-weight: 700;
}

p {
    margin-left: 70px;
    font-size: 30px;
    font-weight: 700;
    color: slateblue;
}

span {
    color: tomato;
}

div audio {
    margin-left: 70px;
}

.vdo {
    margin-top: 25px;
}

div iframe {
    margin-left: 70px;
}